@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 213, 77%, 48%;
    --color-primary-bg: 213, 76%, 55%;
    --color-primary-fg: 0, 0%, 100%;
    --color-primary-bg-hover: 213, 76%, 45%;

    --color-error: 356, 75%, 43%;
    --color-error-bg: 357, 78%, 49%;
    --color-error-fg: 255, 255, 255, 1;
    --color-error-bg-hover: 357, 78%, 39%;

    --color-success: 152, 66%, 31%;
    --color-success-bg: 152, 62%, 47%;
    --color-success-fg: 255, 255, 255, 1;
    --color-success-bg-hover: 152, 62%, 37%;

    --color-warning: 42, 96%, 31%;
    --color-warning-bg: 42, 92%, 47%;
    --color-warning-fg: 0, 0, 0, 0.8;
    --color-warning-bg-hover: 42, 92%, 37%;

    --color-dark: 0, 0%, 100%;
    --color-dark-bg: 0, 0%, 90%;
    --color-dark-fg: 0, 0, 0, 0.8;
    --color-dark-bg-hover: 0, 0%, 90%;

    --color-window-bg: 0, 0%, 98%;
    --color-window-fg: 0, 0, 0, 0.8;

    --color-sidebar-bg: 0, 0%, 95%;
    --color-sidebar-fg: 0, 0, 0, 0.8;
    --color-sidebar-shade: 0, 0, 0, 0.07;
    --color-sidebar-active-bg: 0, 0%, 87%;

    --color-card-bg: 225, 225, 225, 0.8;
    --color-card-fg: 0, 0, 0, 0.8;
    --color-card-shade: 0, 0, 0, 0.07;

    --color-text-primary: 0, 0, 0, 87%;
    --color-text-secondary: 0, 0, 0, 60%;
    --color-text-disabled: 0, 0, 0, 38%;

    --color-divider-light: 0, 0%, 93%;
    --color-divider-dark: 0, 0%, 90%;
  }

  .dark {
    --color-primary: 212, 76%, 70%;
    --color-primary-dark: 213, 76%, 40%;
    --color-primary-bg: 213, 76%, 55%;
    --color-primary-bg-hover: 213, 76%, 45%;
    --color-primary-fg: 0, 0%, 100%;

    --color-error: 9, 100%, 69%;
    --color-error-bg: 356, 75%, 43%;
    --color-error-bg-hover: 9, 100%, 33%;
    --color-error-fg: 255, 255, 255, 1;

    --color-success: 133, 76%, 75%;
    --color-success-bg: 152, 62%, 39%;
    --color-success-bg-hover: 152, 62%, 29%;
    --color-success-fg: 255, 255, 255, 1;

    --color-warning: 52, 92%, 67%;
    --color-warning-bg: 42, 92%, 42%;
    --color-warning-bg-hover: 42, 92%, 32%;
    --color-warning-fg: 0, 0, 0, 0.8;

    --color-dark: 0, 0%, 15%;
    --color-dark-bg: 0, 0%, 30%;
    --color-dark-bg-hover: 0, 0%, 100%;
    --color-dark-fg: 0, 0, 0, 0.8;

    --color-window-bg: 0, 0%, 12%;
    --color-window-fg: 255, 255, 255, 1;

    --color-sidebar-bg: 0, 0%, 14%;
    --color-sidebar-fg: 255, 255, 255, 1;
    --color-sidebar-shade: 0, 0, 0, 0.36;
    --color-sidebar-active-bg: 0, 0%, 24%;

    --color-card-bg: 255, 255, 255, 0.08;
    --color-card-fg: 255, 255, 255, 1;
    --color-card-shade: 0, 0, 0, 0.36;

    --color-text-primary: 255, 255, 255, 87%;
    --color-text-secondary: 255, 255, 255, 60%;
    --color-text-disabled: 255, 255, 255, 38%;

    --color-divider-light: 0, 0%, 20%;
    --color-divider-dark: 0, 0%, 16%;
  }

  body {
    @apply bg-window-bg text-window-fg;
  }

  h1 {
    color: var(--red-white-mix);
  }

  input {
    border: none;
    outline: none;
  }

  input:active {
    border: none;
    outline: none;
  }

  input:focus {
    border: none;
    outline: none;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
